
.main{
    display: flex;
}
.card_skelton{
    position: relative;
    width: 250px;
    height: 300px;

    padding: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 10px;


    transition: 0.3s;
}
.SkeletonImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
  
}

.SkeletonHeader{
    text-align: center;
    margin: 100px 0 0 0;
}
/* .day-skeleton{
    width: 100px;
    height: 120px;
    border-radius: 50%;
} */